%h1 New Hotel
- if flash[:error].present?
  %div.error= flash[:error]
= form_for @hotel do |f|
  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :description
    = f.text_field :description, :size => '40x4'
  %div
    = f.label :city
    = f.collection_select( :city_id, @cities, :id, :name )
  = f.submit "Save"
